@import "./Services.css";

.role-admin{
    background:var(--color-accent);
    color:white;
    padding:5px 12px;
    border-radius:20px;
    font-size:12px;
    font-weight:600;
}

.role-employee{
    background:var(--color-info);
    color:white;
    padding:5px 12px;
    border-radius:20px;
    font-size:12px;
    font-weight:600;
}